<!-- 定义了页脚模板-->
<div th:fragment="html">
    <div style="margin:0px auto;text-align:center">
        <div class="col-12 col-md">
            <footer>
                <p>&copy; 2021 - Liumce</p>
                <p>
                    <a class="btn btn-default" role="button" href="https://blog.csdn.net/sinat_38239454?spm=1010.2135.3001.5421">了解作者</a>
                    <a class="btn btn-default" role="button" href=" https://github.com/liumce">下载</a> -
                    <a class="btn btn-default" role="button" href="https://www.eastmoney.com/">友情链接</a>
                </p>
            </footer>

          </div>
    </div>
</div>