<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="include/header::html('首页')" ></head>
  <body style="font-size:16px">
    <div class="bs-callout bs-callout-info" id="callout-type-b-i-elems">
      <h3>“趋势投资模拟回测”分析系统首页</h3>
        <p>该项目是基于<code>SpringCloud</code>框架构建的，用户需要注册账号登陆后才可进入趋势投资预测网站。通过<code>Redis</code>缓存从第三方获取股票指数，
            并定时更新<code>Redis</code>缓存数据，依据股票指数数据分析投资趋势，给出投资意见；并将项目部署在<code>Docker</code>容器中。</p>
    </div>

    <div class="container" style="max-width: 960px">
      <div class="row">
        <div class="col-12 col-md">
          <div th:if="${user==null}">
			<h3>欢迎!</h3>
			<p><a href="/signin">登陆</a> 或者 <a href="/register">注册</a>
		  </div>
		  <div th:if="${user!=null}">
			<h3>欢迎!<span th:text="${user.name}"></span></h3>
          </div>
      </div>
    </div>
	<div th:replace="include/footer::html" ></div>
  </body>
</html>
